<header>
  <div><a href="/">WDE</a></div>
  <nav>
    <ul>
      <% if (locals.isAuth) { %>
        <li>
          <form action="/auth/logout" method="POST">
            <button>Logout</button>
            <input
              type="hidden" name="_csrf"
              value="<%= locals.csrfToken %>" />
          </form>
        </li>       
      <% } %>
    </ul>
  </nav>
</header>
