<%- include('../../shared/includes/head', { pageTitle: 'All Orders' }) %>
  <link rel="stylesheet" href="/styles/orders.css" />
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <%- include('../../shared/includes/order-list') %>
  </main>
</body>
